{% extends 'manager/_header.html' %}

{% block content %}
     <div class="card">
      <div class="card-body px-4 pb-4">
        <section class="tab-pane fade show active">
        <br>
        <div class="row">
          <h2 class="col-md-11 h4">Список контрагентов</h2>
          <a class="col-sm-1 pull-right btn btn-outline-primary" type="submit" href="{% url 'agent_new' %}">Создать</a>
        </div>
        <br>
          <div class="row text-center">
            <div class="col-md">
              <table class="table table-sm">
                <tr>
                  <th></th>
                  <th>Название компании</th>
                  <th>Телефон</th>
                  <th>ИНН</th>
                  <th>Просмотреть/обновить</th>
                </tr>
                {% for adent in agents %}
                <tr>
                  <td>{{ forloop.counter }}.</td>
                  <td>{{ adent.company }}</td>
                  <td>{{ adent.phone }}</td>
                  <td>{{ adent.inn_number }}</td>
                  <td><a class="btn btn-outline-secondary btn-sm" href="{% url 'agent_edit' adent.pk %}">Просмотреть/обновить</a></td>
                </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
{% endblock content %}