
{% extends 'manager/_header.html' %}

{% block content %}
    <div class="container">
      <br>
        <h1>Добро пожаловать на сайт грузоперевозок!</h1>
      <br>
    </div>
    <section class="my-5 pt-3">
      <h2 class="h2 font-weight-normal text-center mb-5">Нам доверяют лучшие компании</h2>
        <div class="row mb-0">
        {% for  agent in agents %}
          <div class="col-6 col-md-6 col-lg-3">
            <div class="card pt-4 text-center mb-4">
              <a href="#" style="max-width: 150px;" class="mx-auto d-block">
                <img class="mx-auto d-block mw-100" src="#" alt="{{ agent.company }}">
              </a>
            </div>
          </div>
        {% endfor %}
        </div>
    </section>
{% endblock content %}