{% extends 'manager/_header.html' %}
{% load crispy_forms_filters %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="card">
      <div class="card-body px-4 pb-4">
        <section class="tab-pane fade show active">
          <h2 class="h4 pt-2 pb-3">{% if not packinglist.pk %}Новая накладная{% else %}Накладная номер №{{ packinglist.pk }}{% endif %}</h2>
            <form id="list_form" method="post">
              {% csrf_token %}
              {{ form|crispy }}
              <div class="form-group pt-4">
              <a id="price_button" type="submit" class="btn btn-outline-success btn-sm">Рассчитать стоимость</a>
                <button type="submit" class="btn btn-outline-success btn-sm">{% if not packinglist.pk %}Сохранить{% else %}Обновить{% endif %}</button>
                <a class="btn btn-outline-secondary btn-sm" href="{% url 'packing_lists'  %}">Отмена</a>
              </div>
            {% if packinglist.pk %}
            <div class="form-group pt-4">
             <a class="btn btn-outline-secondary btn-sm" href="{% url 'list_print' packinglist.pk %}" target="_blank">Печать</a>
            </div>
            {% endif %}
            </form>
        </section>
      </div>
    </div>



<script>


{#$(document).ready(function() {#}
    {#event.preventDefault();#}
{#    $("#id_weight").on('input', function () {#}
{#        console.log($(this).val());#}
{#        $.ajax({#}
{#            url: '/packing_lists/new',#}
{#            type: 'POST',#}
{#            data: {#}
{#                csrfmiddlewaretoken: '{{ csrf_token }}',#}
{#                weight: $("#id_weight").val(),#}
{#            },#}
{#            success: function (data) {#}
{#                $("#id_price").val(data)#}
{#            }#}
{##}
{#        })#}
{#    })#}

$(document).ready(function (){

})

</script>



{% endblock content %}