{% extends 'manager/_header.html' %}
{% load crispy_forms_filters %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="card">
      <div class="card-body px-4 pb-4">
        <section class="tab-pane fade show active">
            <h2 class="h4 pt-2 pb-3">{% if not agent.pk %}Новая карта контрагента</h2>
            {% else %}Редактирование карты контрагента "{{ agent.company }}"</h2>
              {% endif %}
            <form method="post">
              {% csrf_token %}
              {{ form|crispy }}
              <div class="form-group pt-4">
                <button type="submit" class="btn btn-outline-success btn-sm">{% if not agent.pk %}Создать{% else %}Обновить{% endif %}</button>
                <a class="btn btn-outline-secondary btn-sm" href="{% url 'all_agents' %}">Отмена</a>
              </div>
            </form>
        </section>
      </div>
    </div>
{% endblock content %}