{% extends 'manager/_header.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block content %}
<form method="post">
{% csrf_token %}
  <div class="container">
    <div class="row">
      <div class="col-8 col-lg-4 offset-2 offset-lg-4">
        <div class="text-center mt-5 b-1">
              <h1 class="h3 mb-3 font-weight-normal text-center">Добро пожаловать</h1>
              <h5 class="h15 mb-3 font-weight-light text-center">Зарегистрируйтесь чтобы управлять</h5>
              {{ form|crispy }}
            <br>
            <button type="submit" class="btn btn-success">Зарегистрироваться</button>
            <div class="mt-4 text-center"><p><a href="{% url "login" %}">Уже есть аккаунт!</a></p></div>
          </div>
        </div>
      </div>
  </div>
</form>
{% endblock content %}