{% extends 'manager/_header.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="card">
      <div class="card-body px-4 pb-4">
        <section class="tab-pane fade show active">
          <h2 class="h4 pt-2 pb-3">{% if not packinglist.pk %}Новая накладная{% else %}Накладная номер №{{ packinglist.pk }}{% endif %}</h2>
            <form id="list_form" method="post">
              {% csrf_token %}
              {{ form|crispy }}
            <small>*ср.стоимость 1кг=5р. *ср.стоимость 1куб.м=1200р. *ср.стоимость 1мес=150р.</small>
              <div class="form-group pt-4">
                <button type="submit" class="btn btn-outline-success btn-sm">{% if not packinglist.pk %}Сохранить{% else %}Обновить{% endif %}</button>
                <a class="btn btn-outline-secondary btn-sm" href="{% url 'packing_lists'  %}">Отмена</a>
              </div>
            </form>
        </section>
      </div>
    </div>

<script>
{#скрыть "*" в названиях полей формы#}
$(document).ready(function (){
    $('.asteriskField').hide()

    {#заблокировать поле "цена"#}
    document.getElementById('id_price').setAttribute("readonly", "readonly")
    })

{#Функция подсчета стоимости при изменении данных формы#}
$('#id_weight').on('input', function (){
    $('#id_price').val(($('#id_weight').val()*5)+($('#id_volume').val()*1200)+$('#id_places_count').val()*150)
})
$('#id_volume').on('input', function (){
    $('#id_price').val(($('#id_weight').val()*5)+($('#id_volume').val()*1200)+$('#id_places_count').val()*150)
})
$('#id_places_count').on('input', function (){
        $('#id_price').val(($('#id_weight').val()*5)+($('#id_volume').val()*1200)+$('#id_places_count').val()*150)})
</script>

{% endblock content %}